.prog, .trabalho, .local{
width: 50%;
text-align: center;

float: left;
}
.img{
    float: right;
    display: flex;
    
}
.p{
    width: 50%;
    float: left;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto; 

}
.h2{
    background-color: #f9ffa8;
    color: black;
      font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p{font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto; }
.Card{  background-color: #000000; width: 50%; height: 50%;}
.bio{
background-color: #000000;
width: 600px;
float: right;

}
.h22{    background-color: #f9ffa8;width: 50%; height: 50%;
        color: black;}
.clas{

    
}
  .sumir{
    width: 100px;


  }
body{
    background-color: rgb(26, 26, 26);
text-align: center;
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;

}  
button{
    border: none;
    background-color: rgb(0, 0, 0);
    color: #E7EBB0;
}
.contaniner{
    background-color: rgb(26, 26, 26);
        color: #E7EBB0;
        letter-spacing: 3px;
}
#prog{
    font-size: 1.2rem;
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto; 
width: 50%;

display: flex;
flex-direction:row;
  margin-top: 100px;
}
button:hover{
    animation: fadeIn forwards 0.5s;}
        @keyframes fadeIn {
      from { }
      to { opacity: 1; transform: translateY(20px) scale(1.1); }
    }
#local{
        width: 50%;
        font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto; 
}
#Trabalho{
    width: 50%;
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto; }

.sumir #trabalho #local{  margin-top: 50px;}

